*.iml
/.idea
/.gradle/8.5
/.gradle/buildOutputCleanup
/.gradle/configuration-cache
/.gradle/kotlin
/.gradle/vcs-1
/.gradle/config.properties
/.gradle/file-system.probe
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/sonarlint
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
